<div class="app flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card-group mb-0">
                    <div class="card p-2">
                        <div class="card-block">
                            <h1>Login</h1>
                            <p class="text-muted">Sign In to your account</p>
                            <form (ngSubmit)="f.form.valid && login()" #f="ngForm">
                                <div class="form-group" [ngClass]=" { 'has-danger': f.submitted && !username.valid } ">
                                    <div class="input-group mb-1">
                                        <span class="input-group-addon"><i class="icon-user"></i></span>
                                        <input type="text" class="form-control" name="username" placeholder="Username" [(ngModel)]="model.username" #username="ngModel"
                                            required [ngClass]=" { 'form-control-danger': f.submitted && !username.valid } ">
                                    </div>
                                </div>
                                <div class="form-group" [ngClass]=" { 'has-danger': f.submitted && !username.valid }">
                                    <div class="input-group mb-2">
                                        <span class="input-group-addon"><i class="icon-lock"></i></span>
                                        <input type="password" class="form-control" name="password" placeholder="Password" [(ngModel)]="model.password" required
                                            [ngClass]=" { 'form-control-danger': f.submitted && !username.valid }">
                                    </div>
                                </div>

                                <div class=" row ">
                                    <div class="col-6 ">
                                        <button [disabled]="loading" type="submit " class="btn btn-primary px-2 ">
                                            Login
                                            <i *ngIf="loading"  class="fa fa-spinner fa-spin"></i>
                                        </button>
                                    </div>
                                    <div class="col-6 text-right ">
                                        <button type="button " class="btn btn-link px-0 ">Forgot password?</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="card card-inverse card-primary py-3 hidden-md-down " style="width:44% ">
                        <div class="card-block text-center ">
                            <div>
                                <h2>Sign up</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                                    ut labore et dolore magna aliqua.</p>
                                <button type="button " class="btn btn-primary active mt-1 ">Register Now!</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>